# configuration for oris gateway: connections, targets and requests
# vim: set filetype=conf shiftwidth=4 tabexpand

connections:
    datafeed: "data://sport.example.com:2317"
    control: "ctrl://*:4422"
	;

targets:
    testing: "http://liveresults.www.example.com/"
	;

on connection established:
	request current_event;

on table ver:
	http put ("/event/" + {VER.1}) using event;
	http put "/currentevent" with value {VER.1};

on table tod:
	http put "/time" with value {TOD.1};

on table vrd:
	http put ("/event/" + {VER.1} + "/comp/" + {VRD.1}) using competition for each record of VRD;
	request splits for each record in VRD;
	request startlist for each record in VRD;

on table sta:
	http put ("/event/" + {VER.1} + "/comp/" + {STA!.1} + "/splits") using splits for table STA;

on table stl:
	http put ("/event/" + {VER.1} + "/comp/" + {STL!.1} + "/startlist") using startlist for table STA;

on table log:
	http put ("/event/" + {VER.1} + "/comp/" + {LOG.1} + "/result/" + {LOG.3}) using logentry;

on table stt:
	if ({STT.3} == 6) http post ("/event/" + {VER.1} + "/comp/" + {STT.1} + "/state") with value {STT.3};
	if ({STT.3} == 6) http delete ("/event/" + {VER.1} + "/comp/" + {STT!.1} + "/startlist");
	if ({STT.3} == 0) http delete ("/event/" + {VER.1} + "/comp/" + {STT!.1} + "/results");

template event:
	title: {VER.2}
	venue: {VER.3}
	location: {VER.4}
	dateFrom: TOKEN({VER.5}, 3, '.') + '-' + LPAD(TOKEN({VER.5}, 2, '.'), 2, '0') + "-" + LPAD(TOKEN({VER.5}, 1, '.'), 2, '0')
	dateTo: TOKEN({VER.6}, 3, '.') + '-' + LPAD(TOKEN({VER.6}, 2, '.'), 2, '0') + "-" + LPAD(TOKEN({VER.6}, 1, '.'), 2, '0')
	sport: {VER.7}

template competition:
	id: {VRD.1}
	raceClass: {VRD.3}
	label: {VRD.4}
	dateTime: TOKEN({VRD.6}, 3, '.') + '-' + LPAD(TOKEN({VRD.6}, 2, '.'), 2, '0') + "-" + LPAD(TOKEN({VRD.6}, 1, '.'), 2, '0') + 'T' + {VRD.7} + ":00"
	gender: {VRD.8}
	qrule: {VRD.9}
	state: {VRD.10}
	round: {VRD.11}
	heat: {VRD.12}
	distance: {VRD.13}
	raceNr: {VRD.14}

template splits:
	offset: {STA.1}
	distance: {STA.4}

template startlist:
	id: {STL.1}
	bib: {STL.2}
	lane: {STL.3}
	label: {STL.5}
	crew: {STL.6}
	nation: {STL.7}

template logentry:
	split: {LOG.5}
	rank: {LOG.7}
	result: {LOG.6}
	delta: {LOG.8}

requests:
	current_event: "?VER"
	splits: "?STA|" + {VRD.1} + "|" + {VRD.1}
	startlist: "?STL|" + {VRD.1} + "|" + {VRD.1}
	finalresult: "?RES" + {STT.1} + "|" + {STT.1}
